jadex-kernel-bdi-bpmn/src/main/java/jadex/bdi/interpreter/bpmn/model/bpmn_plan.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- edited with XMLSpy v2005 rel. 3 U (http://www.altova.com) by  () -->
<!--W3C Schema generated by XMLSpy v2005 rel. 3 U (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	elementFormDefault="qualified">
	<xs:element name="attribute">
		<xs:complexType>
			<xs:attribute name="name" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Context" />
						<xs:enumeration value="Contexttypes" />
						<xs:enumeration value="MsgImplementation" />
						<xs:enumeration value="Link" />
						<xs:enumeration value="Role" />
						<xs:enumeration value="id" />
						<xs:enumeration value="ExplanationText" />
						<xs:enumeration value="ConditionExpression" />
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="value" type="xs:string" use="required" />
		</xs:complexType>
	</xs:element>
	<xs:element name="description" type="xs:string" />
	<xs:element name="edge">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="description" />
				<xs:element ref="attribute" minOccurs="0"
					maxOccurs="unbounded" />
			</xs:sequence>
			<xs:attribute name="type" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="sequence_flow" />
						<xs:enumeration value="data_flow" />
						<xs:enumeration value="conditional_flow" />
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="head" use="required" type="xs:string" />
			<xs:attribute name="tail" use="required" type="xs:string" />
			<xs:attribute name="label" type="xs:string" use="optional" />
			<xs:attribute name="connector" type="xs:string"
				use="optional" />
			<xs:attribute name="arcangle" type="xs:string"
				use="optional" />
			<xs:attribute name="arcgamma" type="xs:string"
				use="optional" />
		</xs:complexType>
	</xs:element>
	<xs:element name="net">
		<xs:complexType>
			<xs:choice maxOccurs="unbounded">
				<xs:element ref="node" />
				<xs:element ref="edge" />
			</xs:choice>
			<xs:attribute name="configuration" use="optional"
				type="xs:string" />
			<xs:attribute name="version" use="optional">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="1.0" />
						<xs:enumeration value="1.1" />
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="revision" type="xs:string"
				use="optional" />
			<xs:attribute name="encoding" use="optional">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="UTF-8" />
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="node">
		<xs:complexType>
			<xs:choice maxOccurs="unbounded">
				<xs:element ref="attribute" />
				<xs:element ref="table" />
				<xs:element ref="description" />
			</xs:choice>
			<xs:attribute name="type" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="EndNode" />
						<xs:enumeration value="localcontext" />
						<xs:enumeration value="contextnode" />
						<xs:enumeration value="StartLink" />
						<xs:enumeration value="Task" />
						<xs:enumeration value="comp_task" />
						<xs:enumeration value="RoutingPoint" />
						<xs:enumeration value="XOR Gateway" />
						<xs:enumeration value="IntermediateError" />
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="id" use="required" type="xs:string" />
			<xs:attribute name="label" use="required" type="xs:string" />
			<xs:attribute name="xposition" use="optional" type="xs:int" />
			<xs:attribute name="yposition" use="optional" type="xs:int" />
		</xs:complexType>
	</xs:element>
	<xs:element name="table">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="tr" minOccurs="0"
					maxOccurs="unbounded" />
			</xs:sequence>
			<xs:attribute name="name" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="static params" />
						<xs:enumeration value="dynamic params" />
						<xs:enumeration value="roles" />
						<xs:enumeration value="groups" />
						<xs:enumeration value="TaskProperties" />
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="td" type="xs:string" />
	<xs:element name="tr">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="td" maxOccurs="unbounded" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
