sodekovs-investigation-framework/src/main/java/sodekovs/investigation/model/Investigation.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSPY v2004 rel. 3 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="Algorithm">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Input"/>
				<xs:element ref="Configuration"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Configuration">
		<xs:complexType>
			<xs:attribute name="type" type="xs:string"/>
			<xs:attribute name="name" type="xs:string"/>
			<xs:attribute name="start" type="xs:string"/>
			<xs:attribute name="end" type="xs:string"/>
			<xs:attribute name="step" type="xs:string"/>
			<xs:attribute name="class" type="xs:string" use="required"/>
			<xs:attribute name="values" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Data">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="ObjectSource"/>
				<xs:element ref="ElementSource"/>
			</xs:choice>
			<xs:attribute name="name" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="DataVisualization">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Input"/>
				<xs:element ref="Function"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>	
	<xs:element name="Dataconsumer">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Property" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="name" type="xs:string" use="required"/>
			<xs:attribute name="clazz" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>	
	<xs:element name="Dataconsumers">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Dataconsumer" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Dataprovider">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Source" maxOccurs="unbounded"/>
				<xs:element ref="Data" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="name" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Dataproviders">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Dataprovider" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ElementSource">
		<xs:complexType>
			<xs:attribute name="type" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="AgentNumber"/>
						<xs:enumeration value="Property"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="name" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="AgentNumber"/>
						<xs:enumeration value="duration"/>
						<xs:enumeration value="ore"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="class" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="Int"/>
						<xs:enumeration value="String"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="Function">
		<xs:complexType>
			<xs:attribute name="name" type="xs:string" use="required"/>
			<xs:attribute name="aggregate" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="General">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="StartTime"/>
				<xs:element ref="TerminateCondition"/>
			</xs:sequence>
			<xs:attribute name="rows" type="xs:byte" use="required"/>
			<xs:attribute name="parallelRuns" type="xs:byte" use="required"/>
			<xs:attribute name="delta" type="xs:boolean" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Import" type="xs:string"/>
	<xs:element name="Imports">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Import" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Input" type="xs:string"/>
	<xs:element name="ObjectSource">
		<xs:complexType>
			<xs:attribute name="type" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="BDIAgent"/>
						<xs:enumeration value="ISpaceObject"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="name" type="xs:string" use="required">
				<!--<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="Sentry"/>
						<xs:enumeration value="homebase"/>
					</xs:restriction>
				</xs:simpleType>-->
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="Optimization">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Data"/>
				<xs:element ref="ParameterSweeping"/>
				<xs:element ref="Algorithm"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ParameterSweeping">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Configuration"/>
			</xs:sequence>			
			<xs:attribute name="strategy" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Persist">
		<xs:complexType/>
	</xs:element>
	<xs:element name="Property">
		<xs:complexType mixed="true">
			<xs:attribute name="name" type="xs:string"/>
			<xs:attribute name="filter" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Rows">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="TerminateCondition"/>
			</xs:sequence>
			<xs:attribute name="experiments" type="xs:byte" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="RunConfiguration">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="General"/>
				<xs:element ref="Rows"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="InvestigationConfiguration">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Imports"/>
				<xs:element ref="Dataproviders"/>
				<xs:element ref="Dataconsumers"/>
				<xs:element ref="DataVisualization"/>
				<xs:element ref="Persist"/>
				<xs:element ref="Optimization"/>
				<xs:element ref="RunConfiguration"/>
			</xs:sequence>
			<xs:attribute name="name" type="xs:string" use="required"/>
			<xs:attribute name="applicationReference" type="xs:string" use="required"/>
			<xs:attribute name="applicationConfiguration" type="xs:string" use="required"/>
			<xs:attribute name="nameOfSpace" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Source">
		<xs:complexType mixed="true">
			<xs:attribute name="name" type="xs:string"/>
			<xs:attribute name="objecttype" type="xs:string"/>
			<xs:attribute name="sourcetype" type="xs:string"/>
			<xs:attribute name="aggregate" type="xs:boolean"/>
			<!--			<xs:sequence>
				<xs:element name="includecondition" type="xs:string" minOccurs="0"/>
			</xs:sequence>-->
		</xs:complexType>
	</xs:element>
	<xs:element name="StartTime">
		<xs:complexType>
			<xs:attribute name="value" type="xs:string" use="required"/>
			<xs:attribute name="type" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="absolute"/>
						<xs:enumeration value="relative"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="TargetFunction">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ObjectSource"/>
			</xs:sequence>
			<xs:attribute name="function" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="TerminateCondition">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Time"/>
				<xs:element ref="TargetFunction" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Time">
		<xs:complexType>
			<xs:attribute name="value" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:long"/>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="type" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="absolute"/>
						<xs:enumeration value="relative"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
</xs:schema>
