sodekovs-investigation-framework/src/main/java/sodekovs/investigation/model/Investigation.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	elementFormDefault="qualified">
	<xs:element name="Algorithm">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Input" />
				<xs:element ref="Configuration" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Configuration">
		<xs:complexType>
			<xs:attribute name="type" type="xs:string" />
			<xs:attribute name="name" type="xs:string" />
			<xs:attribute name="start" type="xs:string" />
			<xs:attribute name="end" type="xs:string" />
			<xs:attribute name="step" type="xs:string" />
			<xs:attribute name="class" type="xs:string" use="required" />
			<xs:attribute name="values" type="xs:string" />
		</xs:complexType>
	</xs:element>
	<xs:element name="Data">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="ObjectSource" />
				<xs:element ref="ElementSource" />
			</xs:choice>
			<xs:attribute name="name" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string" />
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="DataVisualization">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Input" />
				<xs:element ref="Function" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Dataconsumer">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="MixedProperty" maxOccurs="unbounded" />
			</xs:sequence>
			<xs:attribute name="name" type="xs:string" use="required" />
			<xs:attribute name="clazz" type="xs:string" use="required" />
		</xs:complexType>
	</xs:element>
	<xs:element name="Dataconsumers">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Dataconsumer" maxOccurs="unbounded" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Dataprovider">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Source" maxOccurs="unbounded" />
				<xs:element ref="Data" maxOccurs="unbounded" />
			</xs:sequence>
			<xs:attribute name="name" type="xs:string" use="required" />
		</xs:complexType>
	</xs:element>
	<xs:element name="Dataproviders">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Dataprovider" maxOccurs="unbounded" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ElementSource">
		<xs:complexType>
			<xs:attribute name="type" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="AgentNumber" />
						<xs:enumeration value="Property" />
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="name" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="AgentNumber" />
						<xs:enumeration value="duration" />
						<xs:enumeration value="ore" />
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="class" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="Int" />
						<xs:enumeration value="String" />
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="Function">
		<xs:complexType>
			<xs:attribute name="name" type="xs:string" use="required" />
			<xs:attribute name="aggregate" type="xs:string" use="required" />
		</xs:complexType>
	</xs:element>
	<xs:element name="General">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="StartTime" />
				<xs:element ref="TerminateCondition" />
			</xs:sequence>
			<xs:attribute name="rows" type="xs:byte" use="required" />
			<xs:attribute name="parallelRuns" type="xs:byte" use="required" />
			<xs:attribute name="delta" type="xs:boolean" use="required" />
		</xs:complexType>
	</xs:element>
	<xs:element name="Import" type="xs:string" />
	<xs:element name="Imports">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Import" maxOccurs="unbounded" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Input" type="xs:string" />
	<xs:element name="ObjectSource">
		<xs:complexType>
			<xs:attribute name="type" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="BDIAgent" />
						<xs:enumeration value="ISpaceObject" />
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="name" type="xs:string" use="required">
				<!--<xs:simpleType> <xs:restriction base="xs:NMTOKEN"> <xs:enumeration 
					value="Sentry"/> <xs:enumeration value="homebase"/> </xs:restriction> </xs:simpleType> -->
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="Optimization">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Data" />
				<xs:element ref="ParameterSweeping" />
				<xs:element ref="Algorithm" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ParameterSweeping">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Configuration" />
			</xs:sequence>
			<xs:attribute name="strategy" type="xs:string" use="required" />
		</xs:complexType>
	</xs:element>
	<xs:element name="Persist">
		<xs:complexType />
	</xs:element>
	<xs:element name="MixedProperty">
		<xs:complexType mixed="true">
			<xs:attribute name="name" type="xs:string" />
			<xs:attribute name="filter" type="xs:string" />
		</xs:complexType>
	</xs:element>
	<xs:element name="Rows">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="TerminateCondition" />
			</xs:sequence>
			<xs:attribute name="experiments" type="xs:byte" use="required" />
		</xs:complexType>
	</xs:element>
	<xs:element name="RunConfiguration">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="General" />
				<xs:element ref="Rows" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="InvestigationConfiguration">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Imports" />
				<xs:element ref="Dataproviders" />
				<xs:element ref="Dataconsumers" />
				<xs:element ref="DataVisualization" />
				<xs:element ref="Persist" />
				<xs:element ref="Optimization" />
				<xs:element ref="RunConfiguration" />
				<xs:element ref="BenchmarkingSetup" />				
			</xs:sequence>
			<xs:attribute name="name" type="xs:string" use="required" />
			<xs:attribute name="applicationReference" type="xs:string"
				use="required" />
			<xs:attribute name="applicationConfiguration" type="xs:string"
				use="required" />
			<xs:attribute name="nameOfSpace" type="xs:string" use="required" />
			<xs:attribute name="description" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Source">
		<xs:complexType mixed="true">
			<xs:attribute name="name" type="xs:string" />
			<xs:attribute name="objecttype" type="xs:string" />
			<xs:attribute name="sourcetype" type="xs:string" />
			<xs:attribute name="aggregate" type="xs:boolean" />
			<!-- <xs:sequence> <xs:element name="includecondition" type="xs:string" 
				minOccurs="0"/> </xs:sequence> -->
		</xs:complexType>
	</xs:element>
	<xs:element name="StartTime">
		<xs:complexType>
			<xs:attribute name="value" type="xs:string" use="required" />
			<xs:attribute name="type" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="absolute" />
						<xs:enumeration value="relative" />
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="TerminateCondition">
		<xs:complexType>
			<xs:choice>
				<xs:element ref="TerminationTime" />
				<xs:element ref="SemanticCondition" />
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="TerminationTime">
		<xs:complexType>
			<xs:attribute name="value" type="xs:long" use="required" />
			<xs:attribute name="type" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="absolute"/>
						<xs:enumeration value="relative"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
		<xs:element name="SemanticCondition">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ObjectSource"/>
			</xs:sequence>
			<xs:attribute name="condition" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	
	
	
	
	<!-- ************************************************************************** -->
	<!-- ************************************************************************** -->
	<!-- ADDED in order to merge Benchmarking language into InvestigationFramework -->
	<xs:element name="BenchmarkingSetup">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Schedule" minOccurs="0" maxOccurs="1"/>				
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	
	<!-- ************************************************************************** -->
	<!-- ************************************************************************** -->
	<!-- ************************************************************************** -->
	<!-- From here: the stuff from BENCHMARKING!!!! -->
	
		<xs:element name="Schedule">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="TerminateCondition" />
				<!-- Needs to be specified if the System under Test (SuT) has to be started 
					by the benchmark, i.e. it is not running. -->
				<xs:element name="SytemUnderTest">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="Properties" maxOccurs="1" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Sequences">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="Sequence" maxOccurs="unbounded" />
						</xs:sequence>
						<!--Is used to scale the CRUD-operations for the components: multiplies 
							the defined numbers with this factor. -->
						<xs:attribute name="scaleFactor" type="xs:double"
							default="1.0" />
					</xs:complexType>
				</xs:element>
				<xs:element name="BenchmarkingEvaluation">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="Dataproviders" />
							<xs:element ref="Dataconsumers" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>				
				<xs:element ref="AdaptationAnalysis" />
			</xs:sequence>
			<xs:attribute name="type" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="Workload" />
						<xs:enumeration value="Faultload" />
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="name" type="xs:string" use="required" />
			<xs:attribute name="warmUpTime" type="xs:long" use="optional" />
		</xs:complexType>
	</xs:element>
	<xs:element name="Sequence">
		<xs:complexType>
			<xs:sequence>
				<!-- RepeatConf: Specifies how this sequences can be repeated, if required. -->
				<xs:element name="RepeatConfiguration">
					<xs:complexType>
						<xs:attribute name="type" use="required">
							<xs:simpleType>
								<xs:restriction base="xs:NMTOKEN">
									<xs:enumeration value="list" />
									<xs:enumeration value="space" />
									<xs:enumeration value="stochasticDistribution" />
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="end" type="xs:string" />
						<xs:attribute name="step" type="xs:string" />
						<xs:attribute name="values" type="xs:string" />
						<!-- Denotes the type of stochastic distribution to be applied. -->
						<xs:attribute name="typeOfStochasticDistribution"
							type="xs:string" />
						<!-- Required for Poisson distribution -->
						<xs:attribute name="lambda" type="xs:string" />
						<!-- Required for standard normal distribution -->
						<xs:attribute name="alpha" type="xs:string" />
						<xs:attribute name="sigma" type="xs:string" />
					</xs:complexType>
				</xs:element>
				<xs:element name="Actions">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="Action" maxOccurs="unbounded" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="starttime" type="xs:long" use="required" />
			<xs:attribute name="actiontype" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="create" />
						<xs:enumeration value="read" />
						<xs:enumeration value="update" />
						<xs:enumeration value="delete" />
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="Action">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Properties" maxOccurs="1" />
			</xs:sequence>
			<xs:attribute name="componentname" type="xs:string" use="required" />
			<xs:attribute name="componenttype" type="xs:string" use="required" />
			<xs:attribute name="componentmodel" type="xs:string"
				use="required" />
			<xs:attribute name="numberOfComponents" type="xs:int"
				default="1" />
		</xs:complexType>
	</xs:element>
	
	<xs:element name="Properties">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Property" maxOccurs="unbounded" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="Property">
		<xs:complexType>
			<xs:attribute name="name" type="xs:string" />
			<xs:attribute name="value" type="xs:string" />
		</xs:complexType>
	</xs:element>

	<!-- The following elements are used for a time analysis of the ability 
		of the system to detect "incidents", i.e. any type of event that requires 
		an system adaption (reconfiguration). It consists of three parts: 1.) "IncidentEvent": 
		defines the exact type of incident 2.) "AdaptionEvent": the system starts 
		to reconfigure 3.) "SystemReadyEvent": the system has accomplished the adaption. -->
	<xs:element name="AdaptationAnalysis">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="TargetDefinition" minOccurs="0"
					maxOccurs="unbounded" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="TargetDefinition">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="IncidentEvent" minOccurs="0" maxOccurs="1" />
				<xs:element ref="AdaptationEvent" minOccurs="0"
					maxOccurs="1" />
				<xs:element ref="SystemReadyEvent" minOccurs="0"
					maxOccurs="1" />
			</xs:sequence>
			<xs:attribute name="name" type="xs:string" use="required" />
		</xs:complexType>
	</xs:element>
	<xs:element name="IncidentEvent">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ObjectSource" minOccurs="1" maxOccurs="1" />
			</xs:sequence>
			<xs:attribute name="condition" type="xs:string" use="required" />
		</xs:complexType>
	</xs:element>
	<xs:element name="AdaptationEvent">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ObjectSource" minOccurs="1" maxOccurs="1" />
			</xs:sequence>
			<xs:attribute name="condition" type="xs:string" use="required" />
		</xs:complexType>
	</xs:element>
	<xs:element name="SystemReadyEvent">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ObjectSource" minOccurs="1" maxOccurs="1" />
			</xs:sequence>
			<xs:attribute name="condition" type="xs:string" use="required" />
		</xs:complexType>
	</xs:element>
</xs:schema>
