jadex-bpmn-editor/jadex.tools.gpmn/model/GpmnXML.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore" xmlns:gpmn="http://jadex.sourceforge.net/gpmn" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://jadex.sourceforge.net/gpmn">
  <xsd:import namespace="http://www.eclipse.org/emf/2002/Ecore" schemaLocation="ecore.xsd"/>
  <xsd:simpleType name="DirectionType">
    <xsd:restriction base="xsd:NCName">
      <xsd:enumeration value="in"/>
      <xsd:enumeration value="out"/>
      <xsd:enumeration value="inout"/>
      <xsd:enumeration value="fixed"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="EdgeType">
    <xsd:restriction base="xsd:NCName">
      <xsd:enumeration value="SubGoalEdge"/>
      <xsd:enumeration value="PlanEdge"/>
      <xsd:enumeration value="MessageEdge"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="ExcludeType">
    <xsd:restriction base="xsd:NCName">
      <xsd:enumeration value="never"/>
      <xsd:enumeration value="whenTried"/>
      <xsd:enumeration value="whenFailed"/>
      <xsd:enumeration value="whenSucceeded"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="GoalType">
    <xsd:restriction base="xsd:NCName">
      <xsd:enumeration value="MetaGoal"/>
      <xsd:enumeration value="SubProcessGoal"/>
      <xsd:enumeration value="MaintainGoal"/>
      <xsd:enumeration value="AchieveGoal"/>
      <xsd:enumeration value="PerformGoal"/>
      <xsd:enumeration value="QueryGoal"/>
      <xsd:enumeration value="SequentialGoal"/>
      <xsd:enumeration value="ParallelGoal"/>
      <xsd:enumeration value="MessageGoal"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="AchieveGoal">
    <xsd:annotation>
      <xsd:documentation>An achieve goal aims at bringing about a target state.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="gpmn:Goal">
        <xsd:attribute name="targetcondition" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>The target condition can be used to specify a desired world state representing goal success.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute default="jcl" name="targetconditionLanguage" type="xsd:string"/>
        <xsd:attribute name="failurecondition" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Can be used to explicitly state when a goal cannot be pursued any longer and is failed. </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute default="jcl" name="failureconditionLanguage" type="xsd:string"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="AchieveGoal" type="gpmn:AchieveGoal">
    <xsd:annotation>
      <xsd:documentation>An achieve goal aims at bringing about a target state.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType name="Artifact">
    <xsd:complexContent>
      <xsd:extension base="gpmn:NamedObject">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="associations" type="gpmn:Association"/>
        </xsd:sequence>
        <xsd:attribute name="id" type="xsd:string"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="Artifact" type="gpmn:Artifact"/>
  <xsd:complexType name="ArtifactsContainer">
    <xsd:complexContent>
      <xsd:extension base="gpmn:NamedObject">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="artifacts" type="gpmn:Artifact"/>
        </xsd:sequence>
        <xsd:attribute name="id" type="xsd:string"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="ArtifactsContainer" type="gpmn:ArtifactsContainer"/>
  <xsd:complexType name="Association">
    <xsd:complexContent>
      <xsd:extension base="ecore:EModelElement">
        <xsd:attribute name="id" type="xsd:string"/>
        <xsd:attribute default="in" name="direction" type="gpmn:DirectionType"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="Association" type="gpmn:Association"/>
  <xsd:complexType name="AssociationTarget">
    <xsd:complexContent>
      <xsd:extension base="gpmn:Identifiable">
        <xsd:attribute name="associations" type="xsd:string"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="AssociationTarget" type="gpmn:AssociationTarget"/>
  <xsd:complexType name="Context">
    <xsd:complexContent>
      <xsd:extension base="gpmn:Artifact">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="elements" type="gpmn:ContextElement"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="roles" type="gpmn:Role"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="groups" type="gpmn:Group"/>
        </xsd:sequence>
        <xsd:attribute name="types" type="xsd:string"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="Context" type="gpmn:Context"/>
  <xsd:complexType name="ContextElement">
    <xsd:complexContent>
      <xsd:extension base="gpmn:Identifiable">
        <xsd:attribute default="false" name="dynamic" type="xsd:string"/>
        <xsd:attribute default="" name="initialValue" type="xsd:string"/>
        <xsd:attribute default="" name="name" type="xsd:string"/>
        <xsd:attribute default="false" name="set" type="xsd:string"/>
        <xsd:attribute default="" name="type" type="xsd:string"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="ContextElement" type="gpmn:ContextElement"/>
  <xsd:complexType name="DataObject">
    <xsd:complexContent>
      <xsd:extension base="gpmn:Artifact"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="DataObject" type="gpmn:DataObject"/>
  <xsd:complexType name="Edge">
    <xsd:complexContent>
      <xsd:extension base="gpmn:AssociationTarget">
        <xsd:attribute name="description" type="xsd:string"/>
        <xsd:attribute name="name" type="xsd:string"/>
        <xsd:attribute name="ncname" type="xsd:string"/>
        <xsd:attribute name="isDefault" type="xsd:string"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="Edge" type="gpmn:Edge"/>
  <xsd:complexType name="Goal">
    <xsd:complexContent>
      <xsd:extension base="gpmn:ParameterizedVertex">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="onSuccessHandler" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="onSkipHandler" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="onFailureHandler" nillable="true" type="xsd:string"/>
        </xsd:sequence>
        <xsd:attribute name="unique" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>If a goal is declared unique only one instance of this type is allowed being adopted at any one time. To determine if two goals are equal the type and parameters are used. Parameters that should not be considered can explicitly be excluded. </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="creationcondition" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>A condition that creates a new goal of the given type when triggered. If binding-parameters are used for each possible binding a new goal is created. </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute default="jcl" name="creationconditionLanguage" type="xsd:string"/>
        <xsd:attribute name="contextcondition" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>The context condition is checked during the whole execution time of a goal. If it becomes invalid the goal will become suspended and is not actively pursued until reactivation.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute default="jcl" name="contextconditionLanguage" type="xsd:string"/>
        <xsd:attribute name="dropcondition" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>If the dropcondition triggers the goal instance is dropped.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute default="jcl" name="dropconditionLanguage" type="xsd:string"/>
        <xsd:attribute name="recurcondition" type="xsd:string"/>
        <xsd:attribute name="deliberation" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>The goal deliberation setting for the easy deliberation strategy.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute default="when_tried" name="exclude" type="gpmn:ExcludeType">
          <xsd:annotation>
            <xsd:documentation>The exclude flag can be specified when a plan will be excluded from the applicable plan list. The default is when_tried, which means that a candidate is excluded independently of its state when executed one time for a goal. Other options are when_succeeded, when_failed and never.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute default="" name="goalType" type="gpmn:GoalType"/>
        <xsd:attribute default="false" name="posttoall" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>When post-to-all is set to true (default is false), a goal is dispatched to all candidates of the applicable plan list at once. This process will only happen one time regardless of the retry settings. A post-to-all goal has implicit or semantics meaning that if one plan achieves the goal all others will be terminated.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute default="false" name="randomselection" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Random selection can be used to choose among applicable plans for a given goal randomly. If used this flag makes the order of plan declaration within the ADF unimportantly, i.e. only random selection is only applied to plans of the same priority and rank (cf. mlreasoning comment). The mechanism is implemented in the jadex.impl.DefaultMetaLevelReasoner.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute default="true" name="recalculate" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>When recalculate is set to false (default is true) the applicable candidates list will be calculated only once for the goal. Otherwise it will be recalculated whenever the goal should be processed.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute default="false" name="recur" type="xsd:string"/>
        <xsd:attribute default="0" name="recurdelay" type="xsd:string"/>
        <xsd:attribute default="true" name="retry" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>The retry flag can be used to determine the behaviour on plan failures. If retry is turned on (by default it is on) and a plan fails to achieve the considered goal another plan from the applicables plan list will be chosen for execution.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute default="0" name="retrydelay" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>With the retrydelay the delay between the failure of one plan and the execution of the next plan can be specified in milliseconds.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute default="false" name="sequential" type="xsd:string"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="Goal" type="gpmn:Goal"/>
  <xsd:complexType name="GpmnDiagram">
    <xsd:complexContent>
      <xsd:extension base="gpmn:Graph">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="imports" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="processes" type="gpmn:Process"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="messages" type="gpmn:MessagingEdge"/>
        </xsd:sequence>
        <xsd:attribute name="package" type="xsd:string"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="GpmnDiagram" type="gpmn:GpmnDiagram"/>
  <xsd:complexType name="Graph">
    <xsd:complexContent>
      <xsd:extension base="gpmn:ArtifactsContainer">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="vertices" type="gpmn:Vertex"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="sequenceEdges" type="gpmn:Edge"/>
        </xsd:sequence>
        <xsd:attribute name="associations" type="xsd:string"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="Graph" type="gpmn:Graph"/>
  <xsd:complexType name="Group">
    <xsd:complexContent>
      <xsd:extension base="gpmn:NamedObject">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="members" nillable="true" type="xsd:string"/>
        </xsd:sequence>
        <xsd:attribute name="coordinator" type="xsd:string"/>
        <xsd:attribute name="head" type="xsd:string"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="Group" type="gpmn:Group"/>
  <xsd:complexType name="Identifiable">
    <xsd:complexContent>
      <xsd:extension base="ecore:EModelElement">
        <xsd:attribute name="id" type="xsd:string"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="Identifiable" type="gpmn:Identifiable"/>
  <xsd:complexType name="InterGraphEdge">
    <xsd:complexContent>
      <xsd:extension base="gpmn:AssociationTarget">
        <xsd:attribute name="description" type="xsd:string"/>
        <xsd:attribute name="name" type="xsd:string"/>
        <xsd:attribute name="ncname" type="xsd:string"/>
        <xsd:attribute name="source" type="xsd:string"/>
        <xsd:attribute name="target" type="xsd:string"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="InterGraphEdge" type="gpmn:InterGraphEdge"/>
  <xsd:complexType name="InterGraphVertex">
    <xsd:complexContent>
      <xsd:extension base="gpmn:AssociationTarget">
        <xsd:attribute name="description" type="xsd:string"/>
        <xsd:attribute name="name" type="xsd:string"/>
        <xsd:attribute name="ncname" type="xsd:string"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="InterGraphVertex" type="gpmn:InterGraphVertex"/>
  <xsd:complexType name="MaintainGoal">
    <xsd:annotation>
      <xsd:documentation>A maintain goal aims at preserving a certain state.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="gpmn:Goal">
        <xsd:attribute name="maintaincondition" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>The mandatory maintain condition represents a world state that should be monitored and re-established whenever it gets violated. </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute default="jcl" name="maintainconditionLanguage" type="xsd:string"/>
        <xsd:attribute name="targetcondition" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>A specalisation of the maintain condition taht should be re-established when the maintain condition is violated.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute default="jcl" name="targetconditionLanguage" type="xsd:string"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="MaintainGoal" type="gpmn:MaintainGoal">
    <xsd:annotation>
      <xsd:documentation>A maintain goal aims at preserving a certain state.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType name="MessageGoal">
    <xsd:complexContent>
      <xsd:extension base="gpmn:Goal"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="MessageGoal" type="gpmn:MessageGoal"/>
  <xsd:complexType name="MessagingEdge">
    <xsd:complexContent>
      <xsd:extension base="gpmn:InterGraphEdge">
        <xsd:attribute name="message" type="xsd:string"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="MessagingEdge" type="gpmn:MessagingEdge"/>
  <xsd:complexType name="NamedObject">
    <xsd:complexContent>
      <xsd:extension base="ecore:EModelElement">
        <xsd:attribute name="description" type="xsd:string"/>
        <xsd:attribute name="name" type="xsd:string"/>
        <xsd:attribute name="ncname" type="xsd:string"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="NamedObject" type="gpmn:NamedObject"/>
  <xsd:complexType name="ParallelGoal">
    <xsd:complexContent>
      <xsd:extension base="gpmn:Goal">
        <xsd:attribute name="targetcondition" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>The target condition can be used to specify a desired world state representing goal success.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute default="jcl" name="targetconditionLanguage" type="xsd:string"/>
        <xsd:attribute name="failurecondition" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Can be used to explicitly state when a goal cannot be pursued any longer and is failed. </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute default="jcl" name="failureconditionLanguage" type="xsd:string"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="ParallelGoal" type="gpmn:ParallelGoal"/>
  <xsd:complexType name="Parameter">
    <xsd:attribute default="in" name="direction" type="gpmn:DirectionType">
      <xsd:annotation>
        <xsd:documentation>The direction can be used to explicitly declare e.g. result parameters (out) or parameters that are both (inout). Per default parameters are in.</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute default="" name="name" type="xsd:string"/>
    <xsd:attribute default="" name="type" type="xsd:string"/>
    <xsd:attribute default="" name="value" type="xsd:string"/>
  </xsd:complexType>
  <xsd:element name="Parameter" type="gpmn:Parameter"/>
  <xsd:complexType name="ParameterizedEdge">
    <xsd:complexContent>
      <xsd:extension base="gpmn:Edge">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="parameterMapping" nillable="true" type="xsd:string"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="ParameterizedEdge" type="gpmn:ParameterizedEdge"/>
  <xsd:complexType name="ParameterizedVertex">
    <xsd:complexContent>
      <xsd:extension base="gpmn:Vertex">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="parameter" type="gpmn:Parameter"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="ParameterizedVertex" type="gpmn:ParameterizedVertex"/>
  <xsd:complexType name="PerformGoal">
    <xsd:annotation>
      <xsd:documentation>A perform goal aims at executing actions.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="gpmn:Goal"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="PerformGoal" type="gpmn:PerformGoal">
    <xsd:annotation>
      <xsd:documentation>A perform goal aims at executing actions.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType name="Plan">
    <xsd:complexContent>
      <xsd:extension base="gpmn:ParameterizedVertex">
        <xsd:attribute name="bpmnPlan" type="xsd:string"/>
        <xsd:attribute default="0" name="priority" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>The priority can be used for controlling the plan selection process (default priority is 0). Plans with higher priority have precedence for plans with lower priority.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="precondition" type="xsd:string"/>
        <xsd:attribute name="contextcondition" type="xsd:string"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="Plan" type="gpmn:Plan"/>
  <xsd:complexType name="PlanEdge">
    <xsd:complexContent>
      <xsd:extension base="gpmn:ParameterizedEdge"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="PlanEdge" type="gpmn:PlanEdge"/>
  <xsd:complexType name="Process">
    <xsd:complexContent>
      <xsd:extension base="gpmn:Graph">
        <xsd:attribute name="looping" type="xsd:string"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="Process" type="gpmn:Process"/>
  <xsd:complexType name="QueryGoal">
    <xsd:annotation>
      <xsd:documentation>A query goal aims at retrieving information.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="gpmn:Goal">
        <xsd:attribute name="targetcondition" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>A query goal has the implicit target condition that none of its out parameters may null.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute default="jcl" name="targetconditionLanguage" type="xsd:string"/>
        <xsd:attribute name="failurecondition" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Can be used to explicitly state when a goal cannot be pursued any longer and is failed. </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute default="jcl" name="failureconditionLanguage" type="xsd:string"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="QueryGoal" type="gpmn:QueryGoal">
    <xsd:annotation>
      <xsd:documentation>A query goal aims at retrieving information.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType name="Role">
    <xsd:complexContent>
      <xsd:extension base="gpmn:NamedObject">
        <xsd:attribute name="initialPerson" type="xsd:string"/>
        <xsd:attribute name="personType" type="xsd:string"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="Role" type="gpmn:Role"/>
  <xsd:complexType name="SequentialGoal">
    <xsd:complexContent>
      <xsd:extension base="gpmn:Goal">
        <xsd:attribute name="targetcondition" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>The target condition can be used to specify a desired world state representing goal success.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute default="jcl" name="targetconditionLanguage" type="xsd:string"/>
        <xsd:attribute name="failurecondition" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Can be used to explicitly state when a goal cannot be pursued any longer and is failed. </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute default="jcl" name="failureconditionLanguage" type="xsd:string"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="SequentialGoal" type="gpmn:SequentialGoal"/>
  <xsd:complexType name="SubGoalEdge">
    <xsd:complexContent>
      <xsd:extension base="gpmn:ParameterizedEdge">
        <xsd:attribute default="0" name="sequentialOrder" type="xsd:string"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="SubGoalEdge" type="gpmn:SubGoalEdge"/>
  <xsd:complexType name="SubProcessGoal">
    <xsd:complexContent>
      <xsd:extension base="gpmn:Goal">
        <xsd:attribute name="goalref" type="xsd:string"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="SubProcessGoal" type="gpmn:SubProcessGoal"/>
  <xsd:complexType name="TextAnnotation">
    <xsd:complexContent>
      <xsd:extension base="gpmn:Artifact"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="TextAnnotation" type="gpmn:TextAnnotation"/>
  <xsd:complexType name="Vertex">
    <xsd:complexContent>
      <xsd:extension base="gpmn:AssociationTarget">
        <xsd:attribute name="description" type="xsd:string"/>
        <xsd:attribute name="name" type="xsd:string"/>
        <xsd:attribute name="ncname" type="xsd:string"/>
        <xsd:attribute name="outgoingEdges" type="xsd:string"/>
        <xsd:attribute name="incomingEdges" type="xsd:string"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="Vertex" type="gpmn:Vertex"/>
  <xsd:complexType name="GenericGpmnElement">
    <xsd:complexContent>
      <xsd:extension base="gpmn:ParameterizedVertex">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="attributes" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="properties" nillable="true" type="xsd:string"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="GenericGpmnElement" type="gpmn:GenericGpmnElement"/>
  <xsd:complexType name="GenericGpmnEdge">
    <xsd:complexContent>
      <xsd:extension base="gpmn:ParameterizedEdge"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="GenericGpmnEdge" type="gpmn:GenericGpmnEdge"/>
</xsd:schema>
