sodekovs-coordination-distributed/src/main/java/deco/distributed/lang/dynamics/masdynamics.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="MASDynamic" type="masDynamics"/>

  <xs:element name="adaption" type="adaption"/>

  <xs:element name="agent" nillable="true" type="xs:anyType"/>

  <xs:element name="agent_data_mapping" type="dataMapping"/>

  <xs:element name="agent_element" type="agentElement"/>

  <xs:element name="agent_model" type="agentModel"/>

  <xs:element name="causalLink" type="causalLink"/>

  <xs:element name="causalities" type="causalities"/>

  <xs:element name="condition" type="propertyCondition"/>

  <xs:element name="configuration" type="directLinkConfiguration"/>

  <xs:element name="constraint" type="constraint"/>

  <xs:element name="constraints" type="propertyConstraints"/>

  <xs:element name="convergence" type="convergence"/>

  <xs:element name="deco_link" type="decentralMechanismLink"/>

  <xs:element name="define" type="define"/>

  <xs:element name="direct_link" type="directLink"/>

  <xs:element name="direct_link_configuration" type="directCausality"/>

  <xs:element name="element" type="elementReference"/>

  <xs:element name="entry" type="entry"/>

  <xs:element name="environment_property" type="envrionmentProperty"/>

  <xs:element name="group_count" type="group"/>

  <xs:element name="group_membership_count" type="groupMembership"/>

  <xs:element name="mechanism_model" type="mechanismModel"/>

  <xs:element name="parametermapping" nillable="true" type="xs:anyType"/>

  <xs:element name="realization" type="decentralizedCausality"/>

  <xs:element name="role_occupation" type="roleOccupation"/>

  <xs:element name="systemProperty" type="systemProperty"/>

  <xs:element name="system_properties" type="properties"/>

  <xs:complexType name="masDynamics">
    <xs:sequence>
      <xs:element ref="causalities" minOccurs="0"/>
      <xs:element ref="convergence" minOccurs="0"/>
      <xs:element name="defines" type="define" minOccurs="0"/>
      <xs:element ref="system_properties" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="name" type="xs:string"/>
  </xs:complexType>

  <xs:complexType name="causalities">
    <xs:sequence>
      <xs:element name="direct_link_configurations" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="direct_link_configuration" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="direct_links" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="direct_link" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="deco_links" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="deco_link" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="deco-link-realizations" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="realization" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="directCausality">
    <xs:complexContent>
      <xs:extension base="causalityModel">
        <xs:sequence>
          <xs:element ref="configuration" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="causalityModel">
    <xs:sequence>
      <xs:element name="from" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="agent_element" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="to" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="agent_element" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="id" type="xs:string"/>
  </xs:complexType>

  <xs:complexType name="directLinkConfiguration">
    <xs:sequence>
      <xs:element name="parameter_mappings" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="mapping" type="mechanismParameterMapping" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="properties">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="entry" minOccurs="0" maxOccurs="unbounded">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="key" minOccurs="0" type="xs:string"/>
                  <xs:element name="value" minOccurs="0" type="xs:string"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="delay" type="xs:long"/>
  </xs:complexType>

  <xs:complexType name="mechanismParameterMapping">
    <xs:sequence>
      <xs:element name="element_id" type="xs:string" minOccurs="0"/>
      <xs:element name="from_id" type="xs:string" minOccurs="0"/>
      <xs:element name="to_id" type="xs:string" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="agent" type="xs:string"/>
    <xs:attribute name="class" type="xs:string"/>
    <xs:attribute name="from_id" type="xs:string"/>
    <xs:attribute name="to_id" type="xs:string"/>
  </xs:complexType>

  <xs:complexType name="agentElement">
    <xs:sequence>
      <xs:element name="agent_data_mappings" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="mapping" type="dataMapping" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="parameter_mappings" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="mapping" type="parameterMapping" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="type" type="xs:string"/>
    <xs:attribute name="agent_id" type="xs:string"/>
    <xs:attribute name="element" type="xs:string"/>
  </xs:complexType>

  <xs:complexType name="dataMapping">
    <xs:sequence/>
    <xs:attribute name="data" type="xs:string"/>
    <xs:attribute name="type" type="xs:string"/>
    <xs:attribute name="name" type="xs:string"/>
    <xs:attribute name="ref" type="xs:string"/>
  </xs:complexType>

  <xs:complexType name="parameterMapping">
    <xs:sequence/>
    <xs:attribute name="class" type="xs:string"/>
    <xs:attribute name="name" type="xs:string"/>
    <xs:attribute name="ref" type="xs:string"/>
  </xs:complexType>

  <xs:complexType name="directLink">
    <xs:complexContent>
      <xs:extension base="causalLink">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="causalLink">
    <xs:sequence>
      <xs:element name="froms" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="from" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="tos" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="to" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="flow" type="xs:boolean"/>
    <xs:attribute name="name" type="xs:string"/>
    <xs:attribute name="rate" type="xs:double"/>
    <xs:attribute name="realization" type="xs:string"/>
    <xs:attribute name="spaces">
      <xs:simpleType>
        <xs:list itemType="xs:string"/>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="type" type="coordinationType"/>
  </xs:complexType>

  <xs:complexType name="decentralMechanismLink">
    <xs:complexContent>
      <xs:extension base="causalLink">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="decentralizedCausality">
    <xs:complexContent>
      <xs:extension base="causalityModel">
        <xs:sequence>
          <xs:element name="active" type="xs:boolean" default="true" minOccurs="0"/>
          <xs:element name="mechanism_configuration" type="mechanismConfiguration" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="mechanismConfiguration">
    <xs:sequence>
      <xs:element name="parameter_mappings" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="mapping" type="mechanismParameterMapping" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="properties">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="entry" minOccurs="0" maxOccurs="unbounded">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="key" minOccurs="0" type="xs:string"/>
                  <xs:element name="value" minOccurs="0" type="xs:string"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="agent_type" type="agentModelType"/>
    <xs:attribute name="mechanism_id" type="xs:string"/>
  </xs:complexType>

  <xs:complexType name="convergence">
    <xs:sequence>
      <xs:element name="adaptions" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="adaption" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="agents" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="agent" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="adaption">
    <xs:sequence>
      <xs:element name="constraints" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="constraint" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="realizations" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="realization" type="realization" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="answers" type="xs:int"/>
    <xs:attribute name="delay" type="xs:long"/>
    <xs:attribute name="id" type="xs:string"/>
    <xs:attribute name="quorum" type="xs:double"/>
    <xs:attribute name="reset" type="xs:boolean"/>
    <xs:attribute name="timeout" type="xs:long"/>
  </xs:complexType>

  <xs:complexType name="constraint">
    <xs:sequence/>
    <xs:attribute name="agent_id" type="xs:string"/>
    <xs:attribute name="condition" type="xs:int"/>
    <xs:attribute name="element" type="xs:string"/>
    <xs:attribute name="threshold" type="xs:int"/>
    <xs:attribute name="type" type="xs:string"/>
  </xs:complexType>

  <xs:complexType name="realization">
    <xs:sequence>
      <xs:element name="properties" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="entry" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="activate" type="xs:boolean"/>
    <xs:attribute name="id" type="xs:string"/>
  </xs:complexType>

  <xs:complexType name="entry">
    <xs:sequence>
      <xs:element name="key" type="xs:string" minOccurs="0"/>
      <xs:element name="value" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="agent">
    <xs:sequence/>
    <xs:attribute name="id" type="xs:string"/>
  </xs:complexType>

  <xs:complexType name="define">
    <xs:sequence>
      <xs:element ref="agent_model" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element ref="mechanism_model" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="agentModel">
    <xs:sequence/>
    <xs:attribute name="file_name" type="xs:string"/>
    <xs:attribute name="id" type="xs:string"/>
    <xs:attribute name="type" type="agentModelType"/>
  </xs:complexType>

  <xs:complexType name="mechanismModel">
    <xs:sequence/>
    <xs:attribute name="configuration_file" type="xs:string"/>
    <xs:attribute name="id" type="xs:string"/>
  </xs:complexType>

  <xs:complexType name="properties">
    <xs:sequence>
      <xs:element name="environment_properties" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="environment_property" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="group_counts" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="group_count" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="group_membership_counts" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="group_membership_count" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="role_occupations" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="role_occupation" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="envrionmentProperty">
    <xs:complexContent>
      <xs:extension base="systemProperty">
        <xs:sequence>
          <xs:element name="value" type="xs:int" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="systemProperty">
    <xs:sequence/>
    <xs:attribute name="multiple" type="xs:boolean" use="required"/>
    <xs:attribute name="name" type="xs:string"/>
  </xs:complexType>

  <xs:complexType name="group">
    <xs:complexContent>
      <xs:extension base="groupMembership">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="groupMembership">
    <xs:complexContent>
      <xs:extension base="systemProperty">
        <xs:sequence>
          <xs:element name="members" minOccurs="0">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="member" type="agentReference" minOccurs="0" maxOccurs="unbounded"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="agentReference">
    <xs:sequence>
      <xs:element ref="constraints" minOccurs="0"/>
      <xs:element name="elements" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="element" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="id" type="xs:string"/>
  </xs:complexType>

  <xs:complexType name="propertyConstraints">
    <xs:sequence>
      <xs:element ref="condition" minOccurs="0"/>
      <xs:element name="inhibitions" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="element" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="propertyCondition">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="name" type="xs:string"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="elementReference">
    <xs:sequence/>
    <xs:attribute name="type" type="agentElementType"/>
    <xs:attribute name="id" type="xs:string"/>
  </xs:complexType>

  <xs:complexType name="roleOccupation">
    <xs:complexContent>
      <xs:extension base="systemProperty">
        <xs:sequence>
          <xs:element ref="agent" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:simpleType name="coordinationType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="POSITIVE"/>
      <xs:enumeration value="NEGATIVE"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="agentModelType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="JADEX"/>
      <xs:enumeration value="JADE"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="agentElementType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="BDI_PLAN"/>
      <xs:enumeration value="BDI_BELIEF"/>
      <xs:enumeration value="BDI_BELIEFSET"/>
      <xs:enumeration value="BDI_GOAL"/>
      <xs:enumeration value="MICRO_STEP"/>
      <xs:enumeration value="INTERNAL_EVENT"/>
      <xs:enumeration value="GENERIC_ACTIVITY"/>
      <xs:enumeration value="AGENT_ELEMENT_TYPE"/>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>

